In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\acer\appdata\roaming\python\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\acer\appdata\roaming\python\python312\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\acer\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\acer\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import numpy as np
import pandas as pd

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelapp.py", line 739, in start
    self.io_loop.start()
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 1987, in _run_once
    handle._run()
  File "C:\ProgramData\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 437, in dispatch_shell
    await result
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Acer\AppData\Local\Temp\ipykernel_19524\1662815981.py", line 2, in <module>
    import pandas as pd
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\__init__.py", line 39, in <module>
    from pandas.compat import (
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\compat\__init__.py", line 27, in <module>
    from pandas.compat.pyarrow import (
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\compat\pyarrow.py", line 8, in <module>
    import pyarrow as pa
  File "C:\ProgramData\anaconda3\Lib\site-packages\pyarrow\__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelapp.py", line 739, in start
    self.io_loop.start()
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 1987, in _run_once
    handle._run()
  File "C:\ProgramData\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 437, in dispatch_shell
    await result
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Acer\AppData\Local\Temp\ipykernel_19524\1662815981.py", line 2, in <module>
    import pandas as pd
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\core\api.py", line 9, in <module>
    from pandas.core.dtypes.dtypes import (
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\core\dtypes\dtypes.py", line 24, in <module>
    from pandas._libs import (
  File "C:\ProgramData\anaconda3\Lib\site-packages\pyarrow\__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelapp.py", line 739, in start
    self.io_loop.start()
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 1987, in _run_once
    handle._run()
  File "C:\ProgramData\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 437, in dispatch_shell
    await result
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Acer\AppData\Local\Temp\ipykernel_19524\1662815981.py", line 2, in <module>
    import pandas as pd
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\arrow\array.py", line 50, in <module>
    from pandas.core import (
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\ProgramData\anaconda3\Lib\importlib\__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\ProgramData\anaconda3\Lib\site-packages\numexpr\__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelapp.py", line 739, in start
    self.io_loop.start()
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "C:\ProgramData\anaconda3\Lib\asyncio\base_events.py", line 1987, in _run_once
    handle._run()
  File "C:\ProgramData\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 437, in dispatch_shell
    await result
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Acer\AppData\Local\Temp\ipykernel_19524\1662815981.py", line 2, in <module>
    import pandas as pd
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\arrow\array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\masked.py", line 60, in <module>
    from pandas.core import (
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "C:\Users\Acer\AppData\Roaming\Python\Python312\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\ProgramData\anaconda3\Lib\importlib\__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\ProgramData\anaconda3\Lib\site-packages\bottleneck\__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

In [3]:
dict = {
    "name":['satyam','sam','sonu','ram'],
    "rollno":['1','2','5','6']
}

In [4]:
df = pd.DataFrame(dict)
df

     name rollno
0  satyam      1
1     sam      2
2    sonu      5
3     ram      6

In [5]:
df.to_csv('friends.csv')

In [6]:
df.to_csv('friends_index_false.csv',index= False)

In [7]:
df.head(2)

     name rollno
0  satyam      1
1     sam      2

In [8]:
df.tail(2)

   name rollno
2  sonu      5
3   ram      6

In [9]:
df.describe()

          name rollno
count        4      4
unique       4      4
top     satyam      1
freq         1      1

In [10]:
sam = pd.read_csv('sam.csv')
sam

   Unnamed: 0  train no.  speed     city
0           0      12345     50   rampur
1           1      67891    120   lomdon
2           2      12378    140  newyork
3           3      89456    160    delhi

In [11]:
sam['speed']

0     50
1    120
2    140
3    160
Name: speed, dtype: int64

In [12]:
sam['speed'][0] = 50

C:\Users\Acer\AppData\Local\Temp\ipykernel_19524\2451321078.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sam['speed'][0] = 50

In [13]:
sam

   Unnamed: 0  train no.  speed     city
0           0      12345     50   rampur
1           1      67891    120   lomdon
2           2      12378    140  newyork
3           3      89456    160    delhi

In [14]:
sam.to_csv('sam.csv')

In [15]:
sam.index = ['first','second','third','fourth']
sam

        Unnamed: 0  train no.  speed     city
first            0      12345     50   rampur
second           1      67891    120   lomdon
third            2      12378    140  newyork
fourth           3      89456    160    delhi

In [16]:
ser =  pd.Series(np.random.rand(34))
type(ser)

pandas.core.series.Series

In [17]:
newdf = pd.DataFrame(np.random.rand(34,5),index= np.arange(34))
newdf.head()

          0         1         2         3         4
0  0.015284  0.769394  0.262683  0.562786  0.764010
1  0.019021  0.877893  0.768849  0.504555  0.069556
2  0.178654  0.226052  0.851143  0.108759  0.544005
3  0.324963  0.774044  0.024450  0.805657  0.213237
4  0.657250  0.361356  0.960936  0.877354  0.372305

In [18]:
newdf

           0         1         2         3         4
0   0.015284  0.769394  0.262683  0.562786  0.764010
1   0.019021  0.877893  0.768849  0.504555  0.069556
2   0.178654  0.226052  0.851143  0.108759  0.544005
3   0.324963  0.774044  0.024450  0.805657  0.213237
4   0.657250  0.361356  0.960936  0.877354  0.372305
5   0.982744  0.234287  0.466589  0.432356  0.841016
6   0.559398  0.091768  0.648436  0.690321  0.777666
7   0.776213  0.376265  0.819048  0.701562  0.785314
8   0.191360  0.374362  0.615781  0.460587  0.111960
9   0.724617  0.060407  0.155352  0.223342  0.109942
10  0.703882  0.090752  0.500381  0.634252  0.481079
11  0.653894  0.514655  0.032179  0.747087  0.580509
12  0.752104  0.231096  0.342031  0.951891  0.241162
13  0.496411  0.438749  0.792348  0.804590  0.263916
14  0.650614  0.499275  0.008163  0.202521  0.473032
15  0.575592  0.326857  0.981165  0.806035  0.831358
16  0.637043  0.807766  0.835923  0.308254  0.543549
17  0.761483  0.998898  0.677058  0.179113  0.033024
18  0.336268  0.309474  0.621110  0.375446  0.953240
19  0.640999  0.984208  0.522712  0.484010  0.871717
20  0.963474  0.699582  0.146718  0.432146  0.562387
21  0.140508  0.631043  0.157309  0.199168  0.503089
22  0.842353  0.380715  0.151109  0.785132  0.049969
23  0.631208  0.064835  0.051783  0.473192  0.861289
24  0.449215  0.255539  0.818736  0.375168  0.884861
25  0.835775  0.612326  0.567073  0.857965  0.120277
26  0.414192  0.481076  0.281462  0.083844  0.415258
27  0.460284  0.407092  0.142882  0.580810  0.920000
28  0.556393  0.768178  0.664277  0.635446  0.936107
29  0.624989  0.202944  0.152673  0.072891  0.449720
30  0.985002  0.386280  0.932446  0.925385  0.753261
31  0.638755  0.525087  0.739859  0.781893  0.230685
32  0.214495  0.517041  0.545528  0.491669  0.675568
33  0.307325  0.006888  0.764344  0.792159  0.122299

In [19]:
type(newdf)

pandas.core.frame.DataFrame

In [20]:
newdf.describe()

               0          1          2          3          4
count  34.000000  34.000000  34.000000  34.000000  34.000000
mean    0.550052   0.449594   0.500075   0.539628   0.510187
std     0.263084   0.270085   0.312375   0.261688   0.303955
min     0.015284   0.006888   0.008163   0.072891   0.033024
25%     0.355749   0.239600   0.155842   0.375238   0.233304
50%     0.628098   0.396686   0.556301   0.533671   0.523319
75%     0.719433   0.626364   0.767723   0.784322   0.783402
max     0.985002   0.998898   0.981165   0.951891   0.953240

In [21]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [22]:
newdf[0][0] = "satya"

C:\Users\Acer\AppData\Local\Temp\ipykernel_19524\1607525172.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[0][0] = "satya"
C:\Users\Acer\AppData\Local\Temp\ipykernel_19524\1607525172.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'satya' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[0][0] = "satya"

In [23]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [24]:
newdf.head()

          0         1         2         3         4
0     satya  0.769394  0.262683  0.562786  0.764010
1  0.019021  0.877893  0.768849  0.504555  0.069556
2  0.178654  0.226052  0.851143  0.108759  0.544005
3  0.324963  0.774044  0.024450  0.805657  0.213237
4   0.65725  0.361356  0.960936  0.877354  0.372305

In [25]:
newdf.index

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33],
      dtype='int64')

In [27]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [28]:
newdf.to_numpy()

array([['satya', 0.7693944452947299, 0.26268267378783294,
        0.5627860419094524, 0.7640102526533761],
       [0.01902095616152355, 0.8778929864239198, 0.7688491165961762,
        0.5045550061026017, 0.06955589347182556],
       [0.17865406343222456, 0.22605187948509153, 0.8511427583031571,
        0.10875900963277174, 0.544005030686466],
       [0.3249631606523986, 0.7740439130971548, 0.024449692964198855,
        0.8056573910342472, 0.21323676767251287],
       [0.6572501285944908, 0.36135580939989753, 0.9609359768547512,
        0.877353701908973, 0.37230460918755504],
       [0.9827436217836242, 0.23428729838844042, 0.4665885347526093,
        0.4323563392527282, 0.8410157651180763],
       [0.5593978876911111, 0.09176772740627614, 0.6484364063286302,
        0.6903210734682449, 0.7776659567046464],
       [0.7762131853532049, 0.3762654793672491, 0.8190483126832484,
        0.7015622126203302, 0.7853143208580401],
       [0.19135993251332095, 0.3743623321132652, 0.6157813840661011,
        0.4605866861919491, 0.11196005539250453],
       [0.724617341229206, 0.06040686363146619, 0.15535223072433046,
        0.22334212238574036, 0.10994212264038805],
       [0.7038817695018824, 0.09075165643943828, 0.50038119040541,
        0.6342521075231906, 0.4810786807319479],
       [0.6538935895007038, 0.514654869978923, 0.032178992940403495,
        0.7470865876326321, 0.5805088041736798],
       [0.752103816315101, 0.23109551869124811, 0.3420314197801202,
        0.9518911604285926, 0.24116191574880397],
       [0.49641069319381026, 0.43874873294550765, 0.7923483882818942,
        0.8045904719693898, 0.26391597143663326],
       [0.6506137211434578, 0.49927513577551763, 0.008162860434718144,
        0.20252077221015063, 0.4730315071188511],
       [0.5755920538623013, 0.3268567023062283, 0.9811648635876651,
        0.8060348991819855, 0.8313582845026306],
       [0.6370431881176859, 0.8077664820001611, 0.8359230358705608,
        0.30825406785008835, 0.5435490215078432],
       [0.7614826169964664, 0.9988984084951669, 0.6770583764842854,
        0.1791132678301497, 0.03302392694305911],
       [0.3362678280209007, 0.3094739612859101, 0.6211095803551041,
        0.37544572883385197, 0.953240165864567],
       [0.6409988003242453, 0.9842077595003017, 0.5227123325148344,
        0.48401003601087156, 0.8717170383396334],
       [0.9634743114674095, 0.6995824855677644, 0.14671826515655673,
        0.4321460442713354, 0.562387204022244],
       [0.14050777392135527, 0.6310430085737154, 0.1573093926056469,
        0.19916811441316684, 0.5030893954063634],
       [0.8423534750489793, 0.3807154702885158, 0.15110919577602622,
        0.7851316716231755, 0.049968690296010365],
       [0.6312080669058048, 0.06483513382048411, 0.05178337731632543,
        0.4731923561964544, 0.8612887084994103],
       [0.44921492189410217, 0.2555388530930185, 0.8187363663613976,
        0.37516821959216795, 0.8848614996447904],
       [0.8357750078105631, 0.6123258251670397, 0.5670733729781148,
        0.8579651409665647, 0.1202769626111242],
       [0.41419200646922383, 0.48107646243503654, 0.28146178345919004,
        0.08384396090562007, 0.4152583858106935],
       [0.46028358343548914, 0.4070919790511953, 0.14288232472407092,
        0.5808099221305615, 0.9199999964865992],
       [0.5563927424635429, 0.7681776797291652, 0.6642767883970131,
        0.6354461377819705, 0.936106979009331],
       [0.6249885742787765, 0.20294371517511378, 0.15267255786281253,
        0.07289097084048834, 0.44971950119442583],
       [0.9850023523186432, 0.38627983857555814, 0.9324464154328534,
        0.9253849239183757, 0.7532610882156379],
       [0.6387549485260259, 0.5250866072427186, 0.7398594590789069,
        0.7818933921816611, 0.23068462814828294],
       [0.21449510351150003, 0.5170405679067679, 0.5455280487776252,
        0.49166900226929233, 0.675568222986463],
       [0.3073251163242128, 0.006887510838345934, 0.7643439885753468,
        0.7921590966732043, 0.12229929512458682]], dtype=object)

In [30]:
newdf[0][0] = 0.3

In [31]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,0.3,0.019021,0.178654,0.324963,0.65725,0.982744,0.559398,0.776213,0.19136,0.724617,...,0.449215,0.835775,0.414192,0.460284,0.556393,0.624989,0.985002,0.638755,0.214495,0.307325
1,0.769394,0.877893,0.226052,0.774044,0.361356,0.234287,0.091768,0.376265,0.374362,0.060407,...,0.255539,0.612326,0.481076,0.407092,0.768178,0.202944,0.38628,0.525087,0.517041,0.006888
2,0.262683,0.768849,0.851143,0.02445,0.960936,0.466589,0.648436,0.819048,0.615781,0.155352,...,0.818736,0.567073,0.281462,0.142882,0.664277,0.152673,0.932446,0.739859,0.545528,0.764344
3,0.562786,0.504555,0.108759,0.805657,0.877354,0.432356,0.690321,0.701562,0.460587,0.223342,...,0.375168,0.857965,0.083844,0.58081,0.635446,0.072891,0.925385,0.781893,0.491669,0.792159
4,0.76401,0.069556,0.544005,0.213237,0.372305,0.841016,0.777666,0.785314,0.11196,0.109942,...,0.884861,0.120277,0.415258,0.92,0.936107,0.44972,0.753261,0.230685,0.675568,0.122299

In [32]:
newdf

           0         1         2         3         4
0        0.3  0.769394  0.262683  0.562786  0.764010
1   0.019021  0.877893  0.768849  0.504555  0.069556
2   0.178654  0.226052  0.851143  0.108759  0.544005
3   0.324963  0.774044  0.024450  0.805657  0.213237
4    0.65725  0.361356  0.960936  0.877354  0.372305
5   0.982744  0.234287  0.466589  0.432356  0.841016
6   0.559398  0.091768  0.648436  0.690321  0.777666
7   0.776213  0.376265  0.819048  0.701562  0.785314
8    0.19136  0.374362  0.615781  0.460587  0.111960
9   0.724617  0.060407  0.155352  0.223342  0.109942
10  0.703882  0.090752  0.500381  0.634252  0.481079
11  0.653894  0.514655  0.032179  0.747087  0.580509
12  0.752104  0.231096  0.342031  0.951891  0.241162
13  0.496411  0.438749  0.792348  0.804590  0.263916
14  0.650614  0.499275  0.008163  0.202521  0.473032
15  0.575592  0.326857  0.981165  0.806035  0.831358
16  0.637043  0.807766  0.835923  0.308254  0.543549
17  0.761483  0.998898  0.677058  0.179113  0.033024
18  0.336268  0.309474  0.621110  0.375446  0.953240
19  0.640999  0.984208  0.522712  0.484010  0.871717
20  0.963474  0.699582  0.146718  0.432146  0.562387
21  0.140508  0.631043  0.157309  0.199168  0.503089
22  0.842353  0.380715  0.151109  0.785132  0.049969
23  0.631208  0.064835  0.051783  0.473192  0.861289
24  0.449215  0.255539  0.818736  0.375168  0.884861
25  0.835775  0.612326  0.567073  0.857965  0.120277
26  0.414192  0.481076  0.281462  0.083844  0.415258
27  0.460284  0.407092  0.142882  0.580810  0.920000
28  0.556393  0.768178  0.664277  0.635446  0.936107
29  0.624989  0.202944  0.152673  0.072891  0.449720
30  0.985002  0.386280  0.932446  0.925385  0.753261
31  0.638755  0.525087  0.739859  0.781893  0.230685
32  0.214495  0.517041  0.545528  0.491669  0.675568
33  0.307325  0.006888  0.764344  0.792159  0.122299

In [34]:
newdf.head()

          0         1         2         3         4
0       0.3  0.769394  0.262683  0.562786  0.764010
1  0.019021  0.877893  0.768849  0.504555  0.069556
2  0.178654  0.226052  0.851143  0.108759  0.544005
3  0.324963  0.774044  0.024450  0.805657  0.213237
4   0.65725  0.361356  0.960936  0.877354  0.372305

In [36]:
newdf.sort_index(axis=0,ascending =  False)

           0         1         2         3         4
33  0.307325  0.006888  0.764344  0.792159  0.122299
32  0.214495  0.517041  0.545528  0.491669  0.675568
31  0.638755  0.525087  0.739859  0.781893  0.230685
30  0.985002  0.386280  0.932446  0.925385  0.753261
29  0.624989  0.202944  0.152673  0.072891  0.449720
28  0.556393  0.768178  0.664277  0.635446  0.936107
27  0.460284  0.407092  0.142882  0.580810  0.920000
26  0.414192  0.481076  0.281462  0.083844  0.415258
25  0.835775  0.612326  0.567073  0.857965  0.120277
24  0.449215  0.255539  0.818736  0.375168  0.884861
23  0.631208  0.064835  0.051783  0.473192  0.861289
22  0.842353  0.380715  0.151109  0.785132  0.049969
21  0.140508  0.631043  0.157309  0.199168  0.503089
20  0.963474  0.699582  0.146718  0.432146  0.562387
19  0.640999  0.984208  0.522712  0.484010  0.871717
18  0.336268  0.309474  0.621110  0.375446  0.953240
17  0.761483  0.998898  0.677058  0.179113  0.033024
16  0.637043  0.807766  0.835923  0.308254  0.543549
15  0.575592  0.326857  0.981165  0.806035  0.831358
14  0.650614  0.499275  0.008163  0.202521  0.473032
13  0.496411  0.438749  0.792348  0.804590  0.263916
12  0.752104  0.231096  0.342031  0.951891  0.241162
11  0.653894  0.514655  0.032179  0.747087  0.580509
10  0.703882  0.090752  0.500381  0.634252  0.481079
9   0.724617  0.060407  0.155352  0.223342  0.109942
8    0.19136  0.374362  0.615781  0.460587  0.111960
7   0.776213  0.376265  0.819048  0.701562  0.785314
6   0.559398  0.091768  0.648436  0.690321  0.777666
5   0.982744  0.234287  0.466589  0.432356  0.841016
4    0.65725  0.361356  0.960936  0.877354  0.372305
3   0.324963  0.774044  0.024450  0.805657  0.213237
2   0.178654  0.226052  0.851143  0.108759  0.544005
1   0.019021  0.877893  0.768849  0.504555  0.069556
0        0.3  0.769394  0.262683  0.562786  0.764010

In [38]:
newdf.sort_index(axis=1,ascending=False)

           4         3         2         1         0
0   0.764010  0.562786  0.262683  0.769394       0.3
1   0.069556  0.504555  0.768849  0.877893  0.019021
2   0.544005  0.108759  0.851143  0.226052  0.178654
3   0.213237  0.805657  0.024450  0.774044  0.324963
4   0.372305  0.877354  0.960936  0.361356   0.65725
5   0.841016  0.432356  0.466589  0.234287  0.982744
6   0.777666  0.690321  0.648436  0.091768  0.559398
7   0.785314  0.701562  0.819048  0.376265  0.776213
8   0.111960  0.460587  0.615781  0.374362   0.19136
9   0.109942  0.223342  0.155352  0.060407  0.724617
10  0.481079  0.634252  0.500381  0.090752  0.703882
11  0.580509  0.747087  0.032179  0.514655  0.653894
12  0.241162  0.951891  0.342031  0.231096  0.752104
13  0.263916  0.804590  0.792348  0.438749  0.496411
14  0.473032  0.202521  0.008163  0.499275  0.650614
15  0.831358  0.806035  0.981165  0.326857  0.575592
16  0.543549  0.308254  0.835923  0.807766  0.637043
17  0.033024  0.179113  0.677058  0.998898  0.761483
18  0.953240  0.375446  0.621110  0.309474  0.336268
19  0.871717  0.484010  0.522712  0.984208  0.640999
20  0.562387  0.432146  0.146718  0.699582  0.963474
21  0.503089  0.199168  0.157309  0.631043  0.140508
22  0.049969  0.785132  0.151109  0.380715  0.842353
23  0.861289  0.473192  0.051783  0.064835  0.631208
24  0.884861  0.375168  0.818736  0.255539  0.449215
25  0.120277  0.857965  0.567073  0.612326  0.835775
26  0.415258  0.083844  0.281462  0.481076  0.414192
27  0.920000  0.580810  0.142882  0.407092  0.460284
28  0.936107  0.635446  0.664277  0.768178  0.556393
29  0.449720  0.072891  0.152673  0.202944  0.624989
30  0.753261  0.925385  0.932446  0.386280  0.985002
31  0.230685  0.781893  0.739859  0.525087  0.638755
32  0.675568  0.491669  0.545528  0.517041  0.214495
33  0.122299  0.792159  0.764344  0.006888  0.307325

In [39]:
newdf.head()

          0         1         2         3         4
0       0.3  0.769394  0.262683  0.562786  0.764010
1  0.019021  0.877893  0.768849  0.504555  0.069556
2  0.178654  0.226052  0.851143  0.108759  0.544005
3  0.324963  0.774044  0.024450  0.805657  0.213237
4   0.65725  0.361356  0.960936  0.877354  0.372305

In [40]:
newdf[0]

0          0.3
1     0.019021
2     0.178654
3     0.324963
4      0.65725
5     0.982744
6     0.559398
7     0.776213
8      0.19136
9     0.724617
10    0.703882
11    0.653894
12    0.752104
13    0.496411
14    0.650614
15    0.575592
16    0.637043
17    0.761483
18    0.336268
19    0.640999
20    0.963474
21    0.140508
22    0.842353
23    0.631208
24    0.449215
25    0.835775
26    0.414192
27    0.460284
28    0.556393
29    0.624989
30    0.985002
31    0.638755
32    0.214495
33    0.307325
Name: 0, dtype: object

In [41]:
type(newdf[0])

pandas.core.series.Series

In [42]:
#create a view
newdf2 = newdf

In [43]:
newdf2[0][0] = 123

In [44]:
newdf

           0         1         2         3         4
0        123  0.769394  0.262683  0.562786  0.764010
1   0.019021  0.877893  0.768849  0.504555  0.069556
2   0.178654  0.226052  0.851143  0.108759  0.544005
3   0.324963  0.774044  0.024450  0.805657  0.213237
4    0.65725  0.361356  0.960936  0.877354  0.372305
5   0.982744  0.234287  0.466589  0.432356  0.841016
6   0.559398  0.091768  0.648436  0.690321  0.777666
7   0.776213  0.376265  0.819048  0.701562  0.785314
8    0.19136  0.374362  0.615781  0.460587  0.111960
9   0.724617  0.060407  0.155352  0.223342  0.109942
10  0.703882  0.090752  0.500381  0.634252  0.481079
11  0.653894  0.514655  0.032179  0.747087  0.580509
12  0.752104  0.231096  0.342031  0.951891  0.241162
13  0.496411  0.438749  0.792348  0.804590  0.263916
14  0.650614  0.499275  0.008163  0.202521  0.473032
15  0.575592  0.326857  0.981165  0.806035  0.831358
16  0.637043  0.807766  0.835923  0.308254  0.543549
17  0.761483  0.998898  0.677058  0.179113  0.033024
18  0.336268  0.309474  0.621110  0.375446  0.953240
19  0.640999  0.984208  0.522712  0.484010  0.871717
20  0.963474  0.699582  0.146718  0.432146  0.562387
21  0.140508  0.631043  0.157309  0.199168  0.503089
22  0.842353  0.380715  0.151109  0.785132  0.049969
23  0.631208  0.064835  0.051783  0.473192  0.861289
24  0.449215  0.255539  0.818736  0.375168  0.884861
25  0.835775  0.612326  0.567073  0.857965  0.120277
26  0.414192  0.481076  0.281462  0.083844  0.415258
27  0.460284  0.407092  0.142882  0.580810  0.920000
28  0.556393  0.768178  0.664277  0.635446  0.936107
29  0.624989  0.202944  0.152673  0.072891  0.449720
30  0.985002  0.386280  0.932446  0.925385  0.753261
31  0.638755  0.525087  0.739859  0.781893  0.230685
32  0.214495  0.517041  0.545528  0.491669  0.675568
33  0.307325  0.006888  0.764344  0.792159  0.122299

In [45]:
#create copy
newdf2 = newdf.copy()

In [46]:
newdf2[0][0] = 1234

C:\Users\Acer\AppData\Local\Temp\ipykernel_19524\1952950542.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf2[0][0] = 1234
C:\Users\Acer\AppData\Local\Temp\ipykernel_19524\1952950542.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf2[0][0] = 1234

In [47]:
newdf

           0         1         2         3         4
0        123  0.769394  0.262683  0.562786  0.764010
1   0.019021  0.877893  0.768849  0.504555  0.069556
2   0.178654  0.226052  0.851143  0.108759  0.544005
3   0.324963  0.774044  0.024450  0.805657  0.213237
4    0.65725  0.361356  0.960936  0.877354  0.372305
5   0.982744  0.234287  0.466589  0.432356  0.841016
6   0.559398  0.091768  0.648436  0.690321  0.777666
7   0.776213  0.376265  0.819048  0.701562  0.785314
8    0.19136  0.374362  0.615781  0.460587  0.111960
9   0.724617  0.060407  0.155352  0.223342  0.109942
10  0.703882  0.090752  0.500381  0.634252  0.481079
11  0.653894  0.514655  0.032179  0.747087  0.580509
12  0.752104  0.231096  0.342031  0.951891  0.241162
13  0.496411  0.438749  0.792348  0.804590  0.263916
14  0.650614  0.499275  0.008163  0.202521  0.473032
15  0.575592  0.326857  0.981165  0.806035  0.831358
16  0.637043  0.807766  0.835923  0.308254  0.543549
17  0.761483  0.998898  0.677058  0.179113  0.033024
18  0.336268  0.309474  0.621110  0.375446  0.953240
19  0.640999  0.984208  0.522712  0.484010  0.871717
20  0.963474  0.699582  0.146718  0.432146  0.562387
21  0.140508  0.631043  0.157309  0.199168  0.503089
22  0.842353  0.380715  0.151109  0.785132  0.049969
23  0.631208  0.064835  0.051783  0.473192  0.861289
24  0.449215  0.255539  0.818736  0.375168  0.884861
25  0.835775  0.612326  0.567073  0.857965  0.120277
26  0.414192  0.481076  0.281462  0.083844  0.415258
27  0.460284  0.407092  0.142882  0.580810  0.920000
28  0.556393  0.768178  0.664277  0.635446  0.936107
29  0.624989  0.202944  0.152673  0.072891  0.449720
30  0.985002  0.386280  0.932446  0.925385  0.753261
31  0.638755  0.525087  0.739859  0.781893  0.230685
32  0.214495  0.517041  0.545528  0.491669  0.675568
33  0.307325  0.006888  0.764344  0.792159  0.122299

In [48]:
newdf.loc[0,0]=654

In [49]:
newdf.head(2)

          0         1         2         3         4
0       654  0.769394  0.262683  0.562786  0.764010
1  0.019021  0.877893  0.768849  0.504555  0.069556

In [50]:
newdf.columns = list("ABCDE")

In [51]:
newdf.head(2)

          A         B         C         D         E
0       654  0.769394  0.262683  0.562786  0.764010
1  0.019021  0.877893  0.768849  0.504555  0.069556

In [52]:
newdf.loc[0,'A']=65445
newdf.head()

          A         B         C         D         E
0     65445  0.769394  0.262683  0.562786  0.764010
1  0.019021  0.877893  0.768849  0.504555  0.069556
2  0.178654  0.226052  0.851143  0.108759  0.544005
3  0.324963  0.774044  0.024450  0.805657  0.213237
4   0.65725  0.361356  0.960936  0.877354  0.372305

In [53]:
newdf.loc[[1,2],['C','D']]

          C         D
1  0.768849  0.504555
2  0.851143  0.108759

In [54]:
newdf.loc[:,['C','D']]

           C         D
0   0.262683  0.562786
1   0.768849  0.504555
2   0.851143  0.108759
3   0.024450  0.805657
4   0.960936  0.877354
5   0.466589  0.432356
6   0.648436  0.690321
7   0.819048  0.701562
8   0.615781  0.460587
9   0.155352  0.223342
10  0.500381  0.634252
11  0.032179  0.747087
12  0.342031  0.951891
13  0.792348  0.804590
14  0.008163  0.202521
15  0.981165  0.806035
16  0.835923  0.308254
17  0.677058  0.179113
18  0.621110  0.375446
19  0.522712  0.484010
20  0.146718  0.432146
21  0.157309  0.199168
22  0.151109  0.785132
23  0.051783  0.473192
24  0.818736  0.375168
25  0.567073  0.857965
26  0.281462  0.083844
27  0.142882  0.580810
28  0.664277  0.635446
29  0.152673  0.072891
30  0.932446  0.925385
31  0.739859  0.781893
32  0.545528  0.491669
33  0.764344  0.792159

In [55]:
newdf.loc[[1,2],:]

          A         B         C         D         E
1  0.019021  0.877893  0.768849  0.504555  0.069556
2  0.178654  0.226052  0.851143  0.108759  0.544005

In [57]:
newdf.reset_index()

    index         A         B         C         D         E
0       0     65445  0.769394  0.262683  0.562786  0.764010
1       1  0.019021  0.877893  0.768849  0.504555  0.069556
2       2  0.178654  0.226052  0.851143  0.108759  0.544005
3       3  0.324963  0.774044  0.024450  0.805657  0.213237
4       4   0.65725  0.361356  0.960936  0.877354  0.372305
5       5  0.982744  0.234287  0.466589  0.432356  0.841016
6       6  0.559398  0.091768  0.648436  0.690321  0.777666
7       7  0.776213  0.376265  0.819048  0.701562  0.785314
8       8   0.19136  0.374362  0.615781  0.460587  0.111960
9       9  0.724617  0.060407  0.155352  0.223342  0.109942
10     10  0.703882  0.090752  0.500381  0.634252  0.481079
11     11  0.653894  0.514655  0.032179  0.747087  0.580509
12     12  0.752104  0.231096  0.342031  0.951891  0.241162
13     13  0.496411  0.438749  0.792348  0.804590  0.263916
14     14  0.650614  0.499275  0.008163  0.202521  0.473032
15     15  0.575592  0.326857  0.981165  0.806035  0.831358
16     16  0.637043  0.807766  0.835923  0.308254  0.543549
17     17  0.761483  0.998898  0.677058  0.179113  0.033024
18     18  0.336268  0.309474  0.621110  0.375446  0.953240
19     19  0.640999  0.984208  0.522712  0.484010  0.871717
20     20  0.963474  0.699582  0.146718  0.432146  0.562387
21     21  0.140508  0.631043  0.157309  0.199168  0.503089
22     22  0.842353  0.380715  0.151109  0.785132  0.049969
23     23  0.631208  0.064835  0.051783  0.473192  0.861289
24     24  0.449215  0.255539  0.818736  0.375168  0.884861
25     25  0.835775  0.612326  0.567073  0.857965  0.120277
26     26  0.414192  0.481076  0.281462  0.083844  0.415258
27     27  0.460284  0.407092  0.142882  0.580810  0.920000
28     28  0.556393  0.768178  0.664277  0.635446  0.936107
29     29  0.624989  0.202944  0.152673  0.072891  0.449720
30     30  0.985002  0.386280  0.932446  0.925385  0.753261
31     31  0.638755  0.525087  0.739859  0.781893  0.230685
32     32  0.214495  0.517041  0.545528  0.491669  0.675568
33     33  0.307325  0.006888  0.764344  0.792159  0.122299

In [58]:
newdf.reset_index(drop = True)

           A         B         C         D         E
0      65445  0.769394  0.262683  0.562786  0.764010
1   0.019021  0.877893  0.768849  0.504555  0.069556
2   0.178654  0.226052  0.851143  0.108759  0.544005
3   0.324963  0.774044  0.024450  0.805657  0.213237
4    0.65725  0.361356  0.960936  0.877354  0.372305
5   0.982744  0.234287  0.466589  0.432356  0.841016
6   0.559398  0.091768  0.648436  0.690321  0.777666
7   0.776213  0.376265  0.819048  0.701562  0.785314
8    0.19136  0.374362  0.615781  0.460587  0.111960
9   0.724617  0.060407  0.155352  0.223342  0.109942
10  0.703882  0.090752  0.500381  0.634252  0.481079
11  0.653894  0.514655  0.032179  0.747087  0.580509
12  0.752104  0.231096  0.342031  0.951891  0.241162
13  0.496411  0.438749  0.792348  0.804590  0.263916
14  0.650614  0.499275  0.008163  0.202521  0.473032
15  0.575592  0.326857  0.981165  0.806035  0.831358
16  0.637043  0.807766  0.835923  0.308254  0.543549
17  0.761483  0.998898  0.677058  0.179113  0.033024
18  0.336268  0.309474  0.621110  0.375446  0.953240
19  0.640999  0.984208  0.522712  0.484010  0.871717
20  0.963474  0.699582  0.146718  0.432146  0.562387
21  0.140508  0.631043  0.157309  0.199168  0.503089
22  0.842353  0.380715  0.151109  0.785132  0.049969
23  0.631208  0.064835  0.051783  0.473192  0.861289
24  0.449215  0.255539  0.818736  0.375168  0.884861
25  0.835775  0.612326  0.567073  0.857965  0.120277
26  0.414192  0.481076  0.281462  0.083844  0.415258
27  0.460284  0.407092  0.142882  0.580810  0.920000
28  0.556393  0.768178  0.664277  0.635446  0.936107
29  0.624989  0.202944  0.152673  0.072891  0.449720
30  0.985002  0.386280  0.932446  0.925385  0.753261
31  0.638755  0.525087  0.739859  0.781893  0.230685
32  0.214495  0.517041  0.545528  0.491669  0.675568
33  0.307325  0.006888  0.764344  0.792159  0.122299